@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
}
       .bg{
        background: linear-gradient(#81bbeb, #eb9db7);
        height: 100vh;
    }
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.top-bar {
    position: relative;
    z-index: 100;
    background-color:rgb(171, 162, 224);
    opacity: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}


.top-bar h1 {
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}



.table {
    margin: auto auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
  }

th img {
    border: 5px solid black;
    border-radius: 100px;
}

th img:hover {
    transform: scale(1.1);
}


.row th {
    padding: 10px;
  }

  .row h1{
      padding: 15px;
  }

.quadimg {
    display: flex;
    align-items: center;
    justify-content: center;
}  

